.menuOfInspiration li {
  display: inline-block;
}

.menuOfInspiration {
  margin: 0px;
  padding: 0px;
  font-family: 'Playfair Display', serif;
  background-color: #bcdfce;
  text-align: center;
}

.menu-link {
  color: #616e68;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  color: #70625b;
}

.menu-link:hover,
.menu-link:focus,
.menu-link:active {
  background-color: #9baaa3;
}

.menu-link.active {
  background-color: #6b8075;
}
