.body__note {
  background: url('img/zen.jpg');
}

.note {
  flex-grow: 3;
  padding: 0;
  padding-left: 30px;
}

.nadpis__note {
  text-align: center;
  font-size: 24px;
  color: #6b5b55;
  font-weight:bold;
}

.zapis_note {
  padding-left: 30px;
}
#zapisek__note {
  margin-top:20px;
  background-image: url('img/book.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

#input__date__note,
#input__nazev__note {
  border: 2px solid #70625b;
  border-radius:5px;
  margin: 5px;
  padding: 5px;
  width: 250px;
}

#submit__note {
  width: 150px;
  margin-top:10px;
  color: #70625b;
}