.planner {
  background: url('img/pottery.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /*vyresetování odsazení stránky*/
  margin: 0;
  width:100%;
}

.activity {
  background-color: #df9f9a;
  padding: 30px;
  color: white;
  text-align: center;
  margin-top: 10px;
}

/* Clear floats after the header */
.activity:after {
  content: '';
  display: table;
  clear: both;
}
