.contentOfProject {
  font-family: 'Dancing Script';
  margin: 25px;
  font-size:20px;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bdd4c9;
  padding-left:20px;
}

.image {
  max-width: 100%;
  padding: 25px;
}

.imageConteiner {
  width: 2044px;
}
