

.contentOfProject {
  font-family: 'Dancing Script';
}

.project {
  display: flex;
  justify-content: center;
  margin: 0 5%;
  align-items: center;
  background-color: #bdd4c9;
}

.image {
  width: 500px;
}
